# Standard packages
numpy
numba
matplotlib

# Mesh related packages
pyvista
gmsh

# DOLFINx related packages
git+https://github.com/FEniCS/ufl
git+https://github.com/FEniCS/basix
git+https://github.com/FEniCS/ffcx
pybind11
petsc4py
mpi4py
slepc4py
